@charset "utf-8";
/* CSS Document */

header .header-logo span:hover {
	background-color:#00F;
	border:1px solid #00F;}
header .header-tab .innovate {
	border-top:2px solid #00F;}
header .header-tab .innovate i{
	color:#00F;}	
header .header-tab .innovate span {
	color:#00F;}
.hao-body .title {
	border-top:2px solid #00F;}
.hao-body .title .title-left a {
	color:#00F;}
.hao-body .title .title-left .left-active {
	background-color:#00F;}
.hao-body .content-left	.bgimg p {
	background-color:#00F;}
.hao-body .content-right .recom ul .weight {
	color:#00F;}