@charset "utf-8";
/* CSS Document */

header .header-logo span:hover {
	background-color:#A0A;
	border:1px solid #A0A;}
header .header-tab .innovate {
	border-top:2px solid #A0A;}
header .header-tab .innovate i{
	color:#A0A;}	
header .header-tab .innovate span {
	color:#A0A;}
.hao-body .title {
	border-top:2px solid #A0A;}
.hao-body .title .title-left a {
	color:#A0A;}
.hao-body .title .title-left .left-active {
	background-color:#A0A;}
.hao-body .content-left	.bgimg p {
	background-color:#A0A;}
.hao-body .content-right .recom ul .weight {
	color:#A0A;}