@charset "utf-8";
/* CSS Document */

/*初始化样式 s*/
body {
	margin:0;
	padding:0;
	background-color:#E5E5E5;}
.wrapper {
	min-width:800px;/*最小宽度800px*/
	overflow:hidden;
	margin:0 30px;}
/*初始化样式 e*/

/*头部样式 s*/
header {
	height:90px;
	line-height:90px;
	border-bottom:1px solid #C5C5C9;}
header .header-left{
	float:left;}
header .header-left .title-on {
	padding:10px;
	color:#FFF;
	background-color:#000;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;}
header .header-left .title-off {
	margin:10px;
	padding:10px;
	color:#000;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;}
header .header-left .title-off:hover {
	background-color:#000;
	color:#fff;}
header .header-right{
	float:right;}
header .header-right img {
	height:14px;
	border-style:none;/*IE8 以下去除图片默认边框*/}
header .header-right span {
	padding:0 10px;
	color:#000;}
header .header-right a {
	padding:10px;
	text-decoration:none;}
header .header-right .header-serch {
	background-color:#606060;
	padding:10px 0 10px 12px;
	text-align:center;}
header .header-right .header-serch img {
	padding-right:10px;}
/*头部样式 e*/

/*内容样式 s*/
.content .slogan {
	padding:60px 0;
	text-align:center;}
.content .slogan h1 {
	font:Tahoma;
	font-size:72px;}
.content .slogan p {
	margin-top:-30px;
	font-size:18px;
	font:Georgia;
	color:#606060;
	font-style:italic;/*斜体*/}
.content .slogan button{
	background-color:#606060;
	color:#fff;
	padding:15px 30px;
	border:none;
	margin-top:20px;
	cursor:pointer;}
.content .figure {
	width:100%;
	margin:50px 0;}
.content .figure table {
	margin:0 10px;
	width:100%;
	color:#fff;}
.content .figure table tr {
	margin:0 10px;
	height:50px;}
.content .figure table td {
	height:250px;
	text-align:center;
	width:25%;}
.content .figure table .td1 {
	background-color:#D2D2D2;}
.content .figure table .td2,.td6 {
	background-color:#BBB;}
.content .figure table .td3 {
	background-color:#DBDBDB;}
.content .figure table .td4,.td9 {
	background-color:#606060;}
.content .figure table .td5 {
	background-color:rgb(202,202,202);}
.content .figure table .td7 {
	background-color:rgb(215,215,215);}
.content .figure table .td8 {
	background-color:rgb(194,194,194);}
.content .figure table .td10 {
	background-color:rgb(208,208,208);}
.content .figure table tr td .td-p1 {
	font-size:20px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:600;}
.content .figure table tr td .td-p2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-style:italic;
	margin-top:-10px;}
.content .figure table tr td .td-p3 {
	font-size:24px;}
.content .figure table tr td .td-p4 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	font-style:italic;/*斜体*/}
.content .figure table tr td .td-p5 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;}
.content .sign {
	padding:50px 0;
	text-align:center;}
.content .sign h1{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:36px;
	font-weight:normal;}
.content .sign p{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	font-style:italic;
	color:#606060;
	margin-top:-15px;}
.content .sign .add {
	padding:20px 0;}
.content .sign .add input,.content .sign .add input:focus {
	height:46px;
	line-height:50px;
	padding-left:10px;
	font-style:italic;
	width:40%;
	border:1px solid #B0B0B0;
	outline:0;}
.content .sign .add button,.content .sign .add button:focus {
	height:50px;
	width:7%;
	min-width:40px;
	margin-left:-10px;
	color:#fff;
	background-color:#F68236;
	border:1px solid #F68236;
	cursor:pointer;
	outline:0;}
	/*广告切换样式 s*/
.content .ad {
	margin:30px 0;
	height:100px;}
.content .ad .middle {
	height:100px;
	width:100%;
	float:left;}
.content .ad .middle .inner {
	padding:50px 30px;
	background-color:#BBB;}
.content .ad .img-left {
	float:left;
	width:30px;
	text-align:center;
	padding:30px 0;
	margin-left:-100%;
	background-color:#E5E5E5;}
.content .ad img {
	height:40px;
	border-style:none;/*IE8 以下去除图片默认边框*/}
.content .ad .img-right {
	float:left;
	text-align:center;
	width:30px;
	padding:30px 0;
	margin-left:-30px;
	background-color:#E5E5E5;}
	/*广告切换样式 e*/
/*内容样式 e*/

/*脚部样式 s*/
footer{
	margin:50px 5%;
	padding-bottom:200px;
	width:100%;
	text-align:center;}
footer>div {
	float:left;
	width:22%;
	height:150px;
	text-align:left;
	padding-left:10px;
	border-right:1px solid #DBDBDB;}
footer .div-noborder {
	border:none;}
footer div h2 {
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;}
footer div p,footer div p a {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#303030;
	text-decoration:none;/*去除a标签下划线*/}
footer div img {
	margin-top:10px;
	padding:5px;
	height:15px;
	background-color:#606060;}
footer div .img2 {
	padding:5px 10px;}
/*脚部样式 e*/