<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>百度新闻首页</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="./stylesheets/shownews.css">

    <script type="text/javascript" src="./javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap.min.js"></script>
</head>
<body>
	<!-- 头部 -->
	<header>
		<div class="container-fluid head-info">
			<div class="col-xs-1 baidu_icon logo"></div>
			<div class="col-xs-2 baidu_icon person"></div>
			<div class="col-xs-6 baidu_logo"></div>
			<div class="col-xs-2 baidu_icon search"></div>
			<div class="col-xs-1 baidu_icon add"></div>
		</div>
	</header>
	<!-- 导航栏 -->
	<nav>
		<div class="container-fluid head_nav">
			<div class="col-xs-2 nav-btn" value="recom">
				<span>推荐</span>
			</div>
			<div class="col-xs-2 nav-btn" value="baijia">
				<span>百家</span>
			</div>
			<div class="col-xs-2 nav-btn" value="local">
				<span>本地</span>
			</div>
			<div class="col-xs-2 nav-btn" value="img">
				<span>图片</span>
			</div>	
			<div class="col-xs-2 nav-btn" value="fun">
				<span>娱乐</span>
			</div>
			<div class="col-xs-2 nav-btn" value="society">
				<span>社会</span>
			</div>	
		</div>
	</nav>
	<!-- 中间部分 -->
	<article id="content">
		<div class="container index-list">
			<h5>李克强会见法国外长艾罗</h5>
			<div class="col-xs-4 fit">
				<img src="./images/1.jpg">
				<span>2016-05-18</span>
			</div>
			<div class="col-xs-8">
				<p>国务院总理李克强16日在人民大会堂会见来华进行正式访问的法国外长艾罗。</p>
			</div>
		</div>
		<div class="container index-list">
			<h5>麦当劳中国业务竞标半路杀出个三胞集团</h5>
			<div class="col-xs-4 fit">
				<img src="./images/news2.jpg">
				<span>2016-06-17</span>
			</div>
			<div class="col-xs-8">
				<p>一些国内和海外的私募股权资本也参与到了竞购程序中</p>
			</div>
		</div>
	</article>
    <script type="text/javascript" src="./javascripts/shownews.js"></script>
</body>
</html>