html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/*字体的设置*/

body {
    font-family: 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
    margin: 0;
}


/*将边角半径设置为0*/

.navbar {
    border-radius: 0;
}

.main-nav {
    margin-left: 1px;
}

.main-nav.nav-tabs.nav-stacked > li > a {
    padding: 10px 8px;
    font-size: 12px;
    font-weight: 600;
    color: #4A515B;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #E9E9E9));
    background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";

    border-radius: 4px;
}

.main-nav.nav-tabs.nav-stacked > li > a > span {
    color: #4A515B;
}

.main-nav.nav-tabs.nav-stacked > li.active > a,
#main-nav.nav-tabs.nav-stacked > li > a:hover {
    color: #FFF;
    background: #3C4049;
    background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4A515B), color-stop(100%, #3C4049));
    background: -webkit-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: -o-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: -ms-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: linear-gradient(top, #4A515B 0%, #3C4049 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
    border-color: #2B2E33;
}

#main-nav.nav-tabs.nav-stacked > li.active > a,
#main-nav.nav-tabs.nav-stacked > li > a:hover > span {
    color: #FFF;
}

.main-nav.nav-tabs.nav-stacked > li {
    margin-bottom: 4px;
}

.nav-header.collapsed > span.glyphicon-chevron-toggle:before {
    content: "\e114";
}

.nav-header > span.glyphicon-chevron-toggle:before {
    content: "\e113";
}

footer.duomi-page-footer {
    background-color: white;
}

footer.duomi-page-footer .beta-message {
    color: #a4a4a4;
}

footer.duomi-page-footer .beta-message a {
    color: #53a2e4;
}

footer.duomi-page-footer .list-inline a,
footer.authenticated-footer .list-inline li {
    color: #a4a4a4;
    padding-bottom: 30px;
}

footer.duomi-page-footer {
    background-color: white;
}

footer.duomi-page-footer .beta-message {
    color: #a4a4a4;
}

footer.duomi-page-footer .beta-message a {
    color: #53a2e4;
}

footer.duomi-page-footer .list-inline a,
footer.authenticated-footer .list-inline li {
    color: #a4a4a4;
    padding-bottom: 30px;
}


/*自定义部分*/

.secondmenu a {
    font-size: 12px;
    color: #4A515B;
    text-align: center;
    border-radius: 4px;
}

.secondmenu > li > a:hover {
    background-color: #6f7782;
    border-color: #428bca;
    color: #fff;
}

.secondmenu li.active {
    background-color: #6f7782;
    border-color: #428bca;
    border-radius: 4px;
}

.secondmenu li.active > a {
    color: #fff;
}

.navbar-static-top {
    background-color: #212121;
    margin-bottom: 5px;
}


.collapse.glyphicon-chevron-toggle,
.glyphicon-chevron-toggle:before {
    content: "\e113";
}

.collapsed.glyphicon-chevron-toggle:before {
    content: "\e114";
}


/*底部居中*/

#footer {
    text-align: center;
    bottom: 0px;
}


/*修改内容部分的样式*/

#modify {
    display: none;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 50%;
    margin-left: -210px;
    top: 10%;
    background-color: #ccc;
    width: 400px;
    text-align: center;
}

#mdfInfo{
    color: #f00;
    font-weight: bold;
}

.full-width {
    margin-top: 10px;
    width: 100%;
}

#modify input,
#add input {
    border-radius: 5px;
}

.news-content {
    height: 200px;
}

.float-right {
    margin-right: 10px;
    float: right;
}


/*删除部分的样式*/

#delete {
    display: none;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 40%;
    background-color: #ccc;
    width: 250px;
}

#delete input {
    float: right;
}


/*添加部分的样式*/

#add {
    display: none;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 50%;
    margin-left: -210px;
    top: 10%;
    background-color: #ccc;
    width: 400px;
}

#addBtn-face {
    margin-top: -35px;
}


/*-------------------------------------------------------*/
.padd-top-10 {
    padding-top: 10px;
}
.padd-top-bottom-10 {
    padding: 10px 0;
}
.padd-top-bottom-20 {
    padding: 20px 0;
}
.margin-top-bottom-10 {
    margin: 10px 0;
}
.margin-top-bottom-20 {
    margin: 20px 0;
}
/*初始化样式 e*/

/* 内容样式 s*/

/* 标题样式 s*/
.ama-header {
    border-bottom: 1px solid #303f59;
    height: 60px;
    line-height: 40px;
}
.navbar-header h2 {
    height: 60px;
    line-height: 20px;
    padding: 0 10px;
}
.navbar-header i {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin: 10px 0;
    color: #6a778d;
    border-left: 1px solid #606d84;
}
.navbar .navbar-header .orange {
    color: #FF8040;
}
.navbar .navbar-header .white {
    color: #FFF;
}
.search input {
    border: none;
    padding: 10px 8px;
    background-color: #32415a;
    color: #4a5b78;
    border-bottom: 1px solid #445775;
    font-style: italic;
    -webkit-box-shadow: inset 1px 1px 2px #2b384e;
    box-shadow: inset 1px 1px 2px #2b384e;
    font-size: 12px;
}
.search input:focus {
    border: none;
    border-bottom: 1px solid #445775;
}
.search button {
    border: none;
    border-bottom: 1px solid #445775;
    cursor: pointer;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
    background-color: #29354A;
    color: #415169;
    margin-left: -10px;
}
/* 标题样式 e*/

/* 选项切换样式 s*/
.ama-title {
    margin-top: 60px;
    background: #485b79 url(../img/headerbg.png);
    overflow: hidden;
    border-bottom: 5px solid #fb9337;
    -webkit-box-shadow: inset 0 1px 0 #50627f;
    box-shadow: inset 0 1px 0 #50627f;
}
.ama-title ul li {
    border-right: 1px solid #576a85;
}
.ama-title ul i {
    font-size: 24px;
    color: #9AA3B2;
}
.ama-title ul p {
    color: #fff;
    padding-top: 10px;
}
.ama-title ul .active {
    background: #445671 url(../img/headerbg.png);
}
.ama-title ul a:hover {
    background: #445671 url(../img/headerbg.png);
}
/* 选项切换样式 e*/

/* 左侧菜单样式 s*/
.ama-menu {
    margin-top: 60px;
    background-color: #fff;
    min-height: 580px;
}
.ama-menu .table-tab {
    padding: 0;
}
.ama-menu li {
    height: 50px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}
.ama-menu li a {
    color: #32415a;
}
.ama-menu li a i {
    padding-right: 10px;
    font-size: 14px;
    color: #9AA3B2;
}
.ama-menu .active a {
    color: #fb9337;
    background-color: #F7F7F7;
}
.ama-menu a:hover {
    color: #fb9337;
    background-color: #F7F7F7;
}
/* 左侧菜单样式 e*/

/* 表格内容样式 s*/
#release {
    display: none;
}
.news {
    width: 800px;
    padding: 10px;
}
.news form {
    margin-top: 40px;
}
.margin-bottom-10 {
    margin-bottom: 20px !important;
}
.news form textarea {
    margin-top: 10px;
    outline: none;
}
.news form #title,.news form #author,.news form select {
    height: 30px;
    outline: none;
}
.news form #mypicture {
    text-align: left;
    padding-left: 0;
}
.news form .btn-mine {
    text-align: center;
    clear: both;
}
.news form #description {
    height: 100px;
}
.news form #content {
    height: 200px;
    margin-bottom: 20px;
}
.table-content {
    background-color: transparent;
    border: 1px solid #BBB;
    padding: 0;
}
.table-content .tatil {
    padding: 10px;
}
.table-content .tatil h2 {
    color: #485b79;
}
.table-content .tatil p {
    color: #666;
}
.table-content h4 {
    padding: 40px 10px 10px 10px;
}
.table-content h4 span {
    padding-bottom: 3px;
    border-bottom: 2px solid #fb9337;
}
.table-content table {
    padding: 0 10px;
}
.table-content table ul {
    margin: 0;
    padding-top: 5px;
    font-size: 12px;
}
.table-content table ul .active a {
    color: #fff;
    background-color: #F0882C;
    border: 1px solid #F0882C;
}
.table-content table .operation .btn-a {
    margin-right: 5px;
    margin-top: 5px;
    font-size: 12px;
    outline: none;
}
.table-content table .operation .btn-a:hover {
    background-color: #B00;
    color: #fff;
}
/* 表格内容样式 e*/

.margin-top-50 {
    margin-top: 50px;
}
.click-data {
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.click-data:hover {
    border: none;
}
.click-data>a {
    font-size: 14px;
}
.click-data>a:hover {
    border-radius: 0;
    background-color: #de5347 !important;
}
.click-data>a:visited,.click-data>a:active  {
    border-radius: 0;
    background-color: #de5347 !important;
}
.nav-news-title{
    font-size: 14px !important;
    padding-left: 60px !important;
}
#location {
    margin-bottom: 40px;
    font-size: 24px;
}
.location-eng {
    padding-bottom: 3px;
    border-bottom: 2px solid #fb9337;
    width: 93px;
    margin-bottom: 20px;
    font-size: 16px;
}
#data button {
    margin: 5px 10px;
}