@charset "utf-8";
/* CSS Document */

/*初始化样式 s*/
body {
	margin:0;
	padding:0;
	background-color:#666;
	font-family:Arial, Helvetica, sans-serif;
	min-width:800px;
	min-height:800px;}
/*初始化样式 e*/

/* 内容样式 s*/
/* 标题样式 s*/
.ama-header {
	background:#34445e url(../img/topheaderbg.png);
	border-bottom:1px solid #303f59;
	height:60px;
	line-height:60px;}
/* 标题样式 e*/

/* 选项切换样式 s*/
.ama-title {
	margin-top:60px;
	background-color:#fff;
	height:120px;
	line-height:120px;
	border-bottom:5px solid #fb9337;
	-webkit-box-shadow:inset 0 1px 0 #50627f;
	box-shadow:inset 0 1px 0 #50627f;}
.ama-title ul {
	padding:8px 0;}
.ama-title ul li{
	width:100px;
	height:100px;
	margin-right:50px;
	-webkit-border-radius:20px;
	border-radius:20px;}
.ama-title .thtml {
	background:#eb7547 url(../img/thtml.png) no-repeat center center;}
.ama-title .tcss {
	background: #8aced5 url(../img/tcss.png) no-repeat scroll center center;}
.ama-title .tjs {
	background: #d95c59 url(../img/tjs.png) no-repeat scroll center center;}
.ama-title .tjp {
	background: #f1c942 url(../img/tjq.png) no-repeat scroll center center;}
.ama-title .tajs{
	background: #3895b0 url(../img/tajs.png) no-repeat scroll center center;}
.ama-title .tphp {
	background: #c26d85 url(../img/tphp.png) no-repeat scroll center center;}
.ama-title .tnode {
	background: #44a363 url(../img/tnode.png) no-repeat scroll center center;}
/* 选项切换样式 e*/

/* 左侧菜单样式 s*/
.ama-menu {
	background-color:#fff;}
.ama-menu .table-tab {
	padding:0;}
.ama-menu li {
	height:50px;
	line-height:30px;
	border-bottom:1px solid #eee;}
.ama-menu li a {
	color:#32415a;}
.ama-menu li a i {
	padding-right:10px;
	font-size:14px;
	color:#9AA3B2;}
.ama-menu .active a {
	color:#fb9337;
	background-color:#F7F7F7;}
.ama-menu a:hover {
	color:#fb9337;
	background-color:#F7F7F7;}
/* 左侧菜单样式 e*/

/* 表格内容样式 s*/
.table-content {
	background-color:transparent;
	border-left:1px solid #BBB;
	padding:0;}
.table-content .tatil {
	border-bottom:1px solid #BBB;
	padding:10px;}
.table-content ul {
	padding:0 20px;}
.table-content ul li {
	border-bottom:1px solid #DDDFE2;
	height:auto;}
.table-content ul li h1 {
	font-size:18px;}
.table-content ul li p {
	font-size:14px;
	line-height:24px;}
.oldweb {
	height:580px;
	line-height:580px;
	text-align:center;
	font-size:54px;
	color:#fb9337;
}
/* 表格内容样式 e*/
/* 内容样式 e*/